<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs', {title_name}) %>

    <body>
        <h1>Login Form</h1>
        <form action="/login" method="POST">
            <label for="username">Enter Username</label>
            <input type="text" name="username"  id="username" placeholder="Enter username">
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password"  placeholder="Enter Password">
            <input type="submit" value="Login" id="btnLogin">
        </form>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>